include includes/head.pug
.wrapper
    include includes/header.pug
    h1 Jeu de Mémoire
    h2 MAROUF-ARAIBI Zoubeir
      .result
        p Résultat
        span (Minimum possible!)
        p.counter 0
      .table
        #1.field
          .inner-wrap
            .front
            .back
        #2.field
          .inner-wrap
            .front
            .back
        #3.field
          .inner-wrap
            .front
            .back
        #4.field
          .inner-wrap
            .front
            .back
        #5.field
          .inner-wrap
            .front
            .back
        #6.field
          .inner-wrap
            .front
            .back
        #7.field
          .inner-wrap
            .front
            .back
        #8.field
          .inner-wrap
            .front
            .back
        #9.field
          .inner-wrap
            .front
            .back
        #10.field
          .inner-wrap
            .front
            .back
        #11.field
          .inner-wrap
            .front
            .back
        #12.field
          .inner-wrap
            .front
            .back
        #13.field
          .inner-wrap
            .front
            .back
        #14.field
          .inner-wrap
            .front
            .back
        #15.field
          .inner-wrap
            .front
            .back
        #16.field
          .inner-wrap
            .front
            .back
        #17.field
          .inner-wrap
            .front
            .back
        #18.field
          .inner-wrap
            .front
            .back
        #19.field
          .inner-wrap
            .front
            .back
        #20.field
          .inner-wrap
            .front
            .back
        #21.field
          .inner-wrap
            .front
            .back
        #22.field
          .inner-wrap
            .front
            .back
        #23.field
          .inner-wrap
            .front
            .back
        #24.field
          .inner-wrap
            .front
            .back
    include includes/footer.pug