include includes/head.pug
.container
    include includes/header.pug
    section
        form(action="/register" method="get" class="col-7 offset-2")
            .form-group
                label(for="identifiant") Identifiant
                input(type="text" name="identifiant" class="form-control")
            .form-group
                label(for="mdp") Mot de passe
                input(type="password" name="mdp" class="form-control")
            button(type="submit" class="btn btn-primary col-4 offset-0") Register
    include includes/footer.pug